IndentWidth: 4
DerivePointerAlignment: false
PointerAlignment: Left
NamespaceIndentation: All
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
IndentCaseLabels: true
AlwaysBreakTemplateDeclarations: Yes
